<?xml version="1.0" encoding="UTF-8"?>
<!-- 
/*
 * Copyright (c) 2014,2015 Ahome' Innovation Technologies. All rights reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
-->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<context-param>
		<param-name>log4jExposeWebAppRoot</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
    	<param-name>log4jConfigLocation</param-name>
    	<param-value>classpath:/com/ait/ahome/server/config/log4j.xml</param-value>
  </context-param>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
			classpath:/com/ait/ahome/server/config/AhomeApplicationContext.xml
			classpath:/com/ait/ahome/server/config/AhomeMongoDBApplicationContext.xml
			classpath:/com/ait/ahome/server/config/AhomeSQLApplicationContext.xml
			classpath:/com/ait/tooling/server/rpc/config/RPCApplicationContext.xml
			classpath:/com/ait/tooling/server/sql/config/SQLApplicationContext.xml
			classpath:/com/ait/tooling/server/mongodb/config/MongoDBApplicationContext.xml
			classpath:/com/ait/tooling/server/core/config/CoreApplicationContext.xml
			classpath:/com/ait/tooling/server/json/config/JSONApplicationContext.xml
		</param-value>
  </context-param>
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.ait.tooling.server.core.support.spring.CoreContextListener</listener-class>
	</listener>
	<filter>
		<filter-name>CacheControlFilter</filter-name>
		<filter-class>com.ait.tooling.server.core.filter.CacheControlFilter</filter-class>
	</filter>
	<filter>
		<filter-name>StrictTransportFilter</filter-name>
		<filter-class>com.ait.tooling.server.core.filter.StrictTransportFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CacheControlFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>StrictTransportFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<servlet>
		<servlet-name>JSONCommandRPCServlet</servlet-name>
		<servlet-class>com.ait.tooling.server.rpc.servlet.JSONCommandRPCServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JSONCommandRPCServlet</servlet-name>
		<url-pattern>/JSONCommand.rpc</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>
